<template>
  <footer class="text-center app-footer">
    <p>Created by <a href="https://twitter.com/thejacer87" target="_blank">@thejacer87</a>
    </p>
    <p><a href="https://gitlab.com/thejacer87/scoregoals"
          target="_blank">View at
      GitLab</a></p>
  </footer>
</template>

<script>
  export default {
    name: 'app-footer',
    data () {
      return {}
    },
  }
</script>

<style lang="scss" scoped>
  footer {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;

    a {
      color: #008852;
      &:hover {
        color: #006044;
      }
    }
  }
</style>
