<template>
  <header class="rounded">
    <h1>All I do is score goals!!!</h1>
  </header>
</template>

<script>
  export default {
    name: 'app-footer',
    data () {
      return {}
    },
  }
</script>

<style lang="scss" scoped>
  header {
    background-color: rgba(0, 0, 0, .65);
    h1 {
      padding: 10px 20px;
      color: #fff;
      font-size: 5.6vw;
    }
    @media screen and (min-width: 1200px) {
      h1 {
        font-size: 90px;
      }
    }
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 7vw;
      }
    }
  }
</style>
