<template>
  <div class="brock rounded">
    <audio v-if="play_horn" src="../../static/horn.mp3" autoplay></audio>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 content">
          <b-tabs pills>
            <b-tab title="Stats" active>
              <div class="container text-center">
                <div class="row">
                  <div class="col-md-6 stats">
                    <table class="table b-table table-striped">
                      <thead><tr>
                        <th>Season</th>
                        <th>GP</th>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Points</th>
                      </tr></thead>
                      <tbody>
                      <tr v-for="season in seasons">
                        <td>{{ season.season }}</td>
                        <td>{{ season.stat.games }}</td>
                        <td>{{ season.stat.goals }}</td>
                        <td>{{ season.stat.assists }}</td>
                        <td>{{ season.stat.goals + season.stat.assists }}</td>
                      </tr>
                      <tr class="total-stats">
                        <td></td>
                        <td>{{ totals.gamesPlayed }}</td>
                        <td>{{ totals.goals }}</td>
                        <td>{{ totals.assists }}</td>
                        <td>{{ totals.goals + totals.assists }}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6 upper-deck">
                    <img src="../assets/upper_deck.jpg" alt="">
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab title="Videos">
              <carousel>
                <slide>
                  <youtube video-id="7OaAgBkr8Is" player-width="100%"></youtube>
                </slide>
                <slide>
                  <youtube video-id="4soIaHtglT4" player-width="100%"></youtube>
                </slide>
                <slide>
                  <youtube video-id="fJ2gSxNUta8" player-width="100%"></youtube>
                </slide>
                <slide>
                  <youtube video-id="V06aQy3AxXc" player-width="100%"></youtube>
                </slide>
                <slide>
                  <youtube video-id="rdlUWu-Ro8M" player-width="100%"></youtube>
                </slide>
                <slide>
                  <youtube video-id="4_56qVH2QCQ" player-width="100%"></youtube>
                </slide>
                <slide>
                  <youtube video-id="zBqAfkH3MeM" player-width="100%"></youtube>
                </slide>
                <slide>
                  <youtube video-id="UY6KrVhDnPc" player-width="100%"></youtube>
                </slide>
              </carousel>
            </b-tab>
            <b-tab title="@BBoeser16">
              <a class="twitter-timeline"
                 href="https://twitter.com/search?q=%40BBoeser16"
                 data-widget-id="937592250493673472">Tweets about @BBoeser16</a>
            </b-tab>
            <b-tab title=#theFlow>
              <a class="twitter-timeline"
                 href="https://twitter.com/search?q=%23theflow%20%23canucks"
                 data-widget-id="933948583140737024">Tweets about #theflow
                #canucks</a>
            </b-tab>
            <!--<b-tab title="Scoring Races">-->
            <!--Races-->
            <!--</b-tab>-->
          </b-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Brock',
    data () {
      return {
        totals:
        {
          gamesPlayed: 0,
          goals: 0,
          assists: 0,
        },
        seasons: {},
        play_horn: false,
      }
    },
    created () {
      let self = this
      self.previous_goals = this.$cookie.get('boeser_goals')
      this.$http.get('https://cors-anywhere.herokuapp.com/https://statsapi.web.nhl.com/api/v1/people/8478444?expand=person.stats&stats=yearByYear').then(response => {
        let stats = response.data.people[0].stats[0].splits
        stats.forEach(function (season) {
          if (season.season === '20172018') {
            self.currentYearGoals = season.stat.goals
          }
          if (season.league.name === 'National Hockey League') {
            self.seasons[season.season] = season
            self.totals.gamesPlayed += season.stat.games
            self.totals.goals += season.stat.goals
            self.totals.assists += season.stat.assists
          }
        })
        // success callback
        if (this.currentYearGoals > self.previous_goals) {
          this.play_horn = true
        }
        self.$cookie.set('boeser_goals', this.currentYearGoals)
      }, response => {
        // error callback
        this.error = response
      })
    },
  }
</script>

<style>
  h1, h2 {
    font-size: 5vw;
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #008852;
  }
  a:hover {
    color: #006044;
  }
  table {
    /*background: #fff;*/
    /*border: solid 1px black;*/
  }
  .content {
    font-size: 2.5vw;
    color: #001f5c;
  }
  li.nav-item {
    margin: 0;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  }
  .content .nav-pills .nav-link.active, .content .nav-pills .show > .nav-link {
    background-color: #008852 !important;
  }
  .brock {
    margin-top: 15px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.66);
  }
  .upper-deck img {
    width: 100%;
    max-width: 360px;
  }
  .total-stats {
    border-top: 4px solid #001f5c;
  }
  .VueCarousel-dot--active .VueCarousel-dot-inner  {
    background-color: #001f5c !important;
  }
  .VueCarousel-dot-inner {
    background-color: #008852 !important;
  }
  @media screen and (min-width: 1200px) {
    .content {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 900px) {
    .content {
      font-size: 3vw;
    }
  }
  @media screen and (max-width: 768px) {
    .content {
      font-size: 3vw;
    }
  }
  @media screen and (max-width: 750px) {
    .content {
      font-size: 3.5vw;
    }
  }
  @media screen and (max-width: 700px) {
    .content {
      font-size: 3vw;
    }
  }
  @media screen and (max-width: 650px) {
    .content {
      font-size: 3.5vw;
    }
  }
  @media screen and (max-width: 600px) {
    .content {
      font-size: 4vw;
    }
  }
  @media screen and (max-width: 450px) {
    .content {
      font-size: 3.17vw;
    }
  }
  @media screen and (max-width: 320px) {
    .content {
      font-size: 3vw;
    }
  }
</style>
