<template>
  <div id="app">
    <div class="content-wrapper container">
      <app-header/>
      <router-view/>
    </div>
    <app-footer/>
  </div>
</template>

<script>
  import AppHeader from '@/components/AppHeader'
  import AppFooter from '@/components/AppFooter'

  export default {
    name: 'app',
    components: {
      AppHeader,
      AppFooter,
    },
  }
</script>

<style>
  body {
    background: url("assets/background.jpg");
    background-size: cover;
  }
  @font-face {
    font-family: canucks;
    src: url('assets/fonts/canucks.ttf');
  }
  #app {
    font-family: canucks, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .content-wrapper {
    background: url("assets/boeser.png") center no-repeat;
    background-size: contain;
    flex: 1;
  }
  a {
    color: #008852;
  }
  a:hover {
    color: #006044;
  }
  .tab-content {
    margin-top: 10px;
  }
</style>
